@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap&text=WelcomtMarkting');

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #1d1f20;
  background-image: url('https://f002.backblazeb2.com/file/gardner-logos/tree.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  text-align: center;
}

header h1 {
  color: #feab3a;
  font-family: 'Audiowide', Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  background-image: -o-linear-gradient(358deg, #f35626, #feab3a);
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: hue 10s infinite linear;
  animation: hue 10s infinite linear;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
    filter: hue-rotate(-360deg);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
    filter: hue-rotate(-360deg);
  }
}

#slideshow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: none;
  background: none;
}

#slideshow img {
  opacity: 0;
  -webkit-transition: ease 2s;
  -o-transition: ease 2s;
  transition: ease 2s;
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
  box-shadow: none;
  background: none;
}
